@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Questrial&family=Varela+Round&display=swap');

:root {
    --lightBlue: rgb(67, 102, 127);
    --navyBlue: rgb(25, 57, 115);
    --lightGrey: rgb(230, 230, 230);
    --lightGreen: rgb(51, 204, 51);
    --white: rgb(243, 243, 243);
}

#headerDiv {
    align-items: center;
    text-align: center;
}

#headerDiv img {
    width: 60vh;
}


#solutionPicture {
    align-items: center;
    text-align: center;
}

#solutionPicture img {
    width: 60vh;
}


body {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: stretch;
    overflow: hidden;
}

.sideBox {
    width: 50%;
    padding: 2%;
    align-self: stretch;
    height: 100vh;
}

.contentBox {
    border: 3px solid black;
    box-shadow: 3px 3px 2px black;
    margin: 1%;
    padding: 1%;
    margin-bottom: 4%;
    background-color: var(--lightGrey);
}

.contentBox h2 {
    font-size: 4vh;
    padding: 1% 0 0 1%;
    margin: 0;
    font-family: 'Questrial';
}

.contentBox p {
    margin: 0 0 1% 0;
    padding-left: 1%;
    font-family: 'Lato';
    font-size: 2.5vh;
    line-height: 150%;
    color: rgb(34, 41, 54);
}

#rightBox {
    background-color: var(--lightBlue);
    background-image: linear-gradient(45deg, var(--lightBlue), var(--navyBlue));
}

#leftBox {
    background-image: linear-gradient(45deg, rgb(217, 232, 233), var(--lightGrey));
    border-right: 4px black dashed;
}

#purchaseButton {
    font-size: 5vh;
    text-align: center;
    padding: 3%;

    transition: .2s;
}

#purchaseButton:hover {
    border-radius: 40px;
    background-color: lightslategrey;
}

#signature {
    position: absolute;
    right: 1%;
    bottom: -2%;
    font-size: 2vh;
    font-family: 'Lato';
    color: white;
}